.Time {
    width: 500px;
    border: 1px solid white;
    border-radius: 6px;
    margin: 0 auto;
    padding-top: 20px;
    padding: 10px 0 10px 0;
    font-size: 22px;
    transform: translateY(30px);
    span{
        margin: 0 10px 0 10px;
    }
}